/* src/components/NewsCarousel.module.css */
.carousel {
  position: relative;
  background-color: #111c33;
  color: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 16rem;
  margin: 1rem 0;
  padding: 0 1.25rem;
  overflow: hidden;
}

.carouselTrack {
  display: flex;
  transition: transform 0.8s ease-in-out;
  width: 100%;
}

.title {
  min-width: 100%;
  font-size: 3.75rem;
  font-weight: bold;
  text-align: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
  /* Add this property to allow the text to wrap */
  white-space: normal; 
  /* Adjust font size for better wrapping on smaller screens */
  word-wrap: break-word; 
  line-height: 1.2;
}

.arrow {
  font-size: 2.25rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.dotsContainer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.dot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.activeDot {
  width: 0.9rem;
  height: 0.9rem;
  background-color: white;
  transform: scale(1.3333); /* Increase size by a factor */
}
/* Left arrow positioning */
.arrow:nth-of-type(1) {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Right arrow positioning */
.arrow:nth-of-type(2) {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}